import init.omap4.rc
import init.omap4pandaboard.usb.rc

on fs
    mount_all /fstab.omap4pandaboard
    swapon_all /fstab.omap4pandaboard
    setprop ro.crypto.fuse_sdcard true

on post-fs
    # sensor/i2c/backlight permissions
    chown system system /sys/bus/i2c/drivers/ft5x0x_ts/3-0038/wmreg
    chown system system /sys/bus/i2c/drivers/ft5x0x_ts/3-0038/wmval
    chown system system /sys/bus/i2c/drivers/bma250/2-001c/
    chown system system /sys/bus/i2c/drivers/bma250/2-001c/delay
    chown system system /sys/bus/i2c/drivers/bma250/2-001c/enable



# OVATION use the path below for lcd brightness control
chown system system /sys/class/backlight/lcd-backlight/brightness

# from stock
#    chown system system /sys/devices/platform/pwm-backlight.0/backlight/pwm-backlight.0/bl_power
#    chown system system /sys/devices/platform/pwm-backlight.0/backlight/pwm-backlight.0/brightness

#    chown system system /sys/devices/platform/pwm-backlight.0/backlight/pwm-backlight.0/scale
#    chmod 0664 /sys/devices/platform/pwm-backlight.0/backlight/pwm-backlight.0/scale

    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/f_mass_storage/inquiry_string "SmartQ  Tablet          0100"
    write /sys/class/android_usb/android0/idVendor 0451
    write /sys/class/android_usb/android0/idProduct D101

# USB ID properties - writable by all for now
    chmod 0666 /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0048/twl6030_usb/usb_id

#    insmod /system/lib/modules/kernel/drivers/staging/android/logger.ko
#    start load_modules

## GPS
#    insmod /system/lib/modules/gps_drv.ko


# service battery_charger /charger
#    class charger

# service load_modules /system/bin/logwrapper /system/bin/load-modules.sh
#    class main
#    group root
#    user root
#    disabled
#    oneshot

